<div  align="center">
  <h3>KAVERI- Registration Application</h3>
</div>
<div align="right"><app-logout></app-logout></div>
<div *ngIf ="!transferClicked;then registrationForm1 else registrationForm2"></div>
<ng-template #registrationForm1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Search Criteria</h1>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-3">
        <label for="pid" class="control-label required">PID</label>
        <input type="text" id="pid" name="pid"  [(ngModel)]="pid"  />
      </div>
      <div class="col-md-3">
      <button type="submit" class="btn btn-primary" (click)= "search()">Search</button>
      </div>
    </div>
  </div>  
</div>
<!--Search results of the land records for Registration -->
<div *ngIf= "fetchComplete" >
  <div  align="center">
    <h4>Transaction History</h4>
  </div>
  <table class="table table-striped">
  <thead>
      <tr>
          <th>Transaction ID </th>
          <th>Current Owner Name</th>
          <th>Current Owner Aadhaar No</th>
          <th>Current Owner Mobile No</th>
          <th>New Owner Name</th>
          <th>New Owner Aadhaar No</th>
          <th>New Owner Modile No</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let land of landRecords">
          <td>{{land.txnID}}</td>
          <td>{{land.owner.ownerName}}</td>
          <td>{{land.owner.aadharNo}}</td>
          <td>{{land.owner.mobileNo}}</td>
          <td>{{land.newowner.ownerName}}</td>
          <td>{{land.newowner.aadharNo}}</td>
          <td>{{land.newowner.mobileNo}}</td>
      </tr>
  </tbody>
 </table> 
 <div *ngIf='noSearchResults' style='color:red;' align='center'><strong>No matching results found !</strong></div>
 <div align="right">
    <button class="btn btn-primary" (click)= "loadRegistrationForm()">Transfer Ownership</button>
 </div>
</div>
</ng-template> 

<!-- Tranfer ownership editable form -->
<ng-template #registrationForm2>
  <div class="applicationForm">
  <form class="form-horizontal" [formGroup]="layoutForm" (ngSubmit)="onSubmit()">
    <fieldset disabled>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Land Details</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-4" [ngClass]="displayFieldCss('pid')">
            <label for="pid" class="control-label required">PID</label>
            <input type="text" id="pid" class="form-control" formControlName="pid" />
            <app-show-validation-error [displayError]="isFieldValid('pid')" errorMsg="PID is mandatory"></app-show-validation-error>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4" [ngClass]="displayFieldCss('wardNo')">
            <label for="wardNo" class="control-label required">Ward #</label>
            <input type="text" id="wardNo" class="form-control" formControlName="wardNo" />
            <app-show-validation-error [displayError]="isFieldValid('wardNo')" errorMsg="Ward # is mandatory"></app-show-validation-error>
          </div>
          <div class="col-md-4" [ngClass]="displayFieldCss('areaCode')">
            <label for="areaCode" class="control-label required">Area Code</label>
            <input type="text" id="areaCode" class="form-control" formControlName="areaCode" />
            <app-show-validation-error [displayError]="isFieldValid('areaCode')" errorMsg="Area code is mandatory"></app-show-validation-error>
          </div>
          <div class="col-md-4" [ngClass]="displayFieldCss('siteNo')">
            <label for="siteNo" class="control-label required">Plot/Site #</label>
            <input type="text" id="siteNo" class="form-control" formControlName="siteNo" />
            <app-show-validation-error [displayError]="isFieldValid('siteNo')" errorMsg="Plot/Site # is mandatory"></app-show-validation-error>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Geographic Data</h1>
      </div>
      <div class="panel-body">
        <div formGroupName="geoData">
          <div class="form-group">
            <div class="col-md-4" [ngClass]="displayFieldCss('geoData.latitude')">
              <label for="latitude" class="control-label required">Latitude</label>
              <input type="text" id="latitude" class="form-control" formControlName="latitude" (change)="setGeoCordinates()" />
              <app-show-validation-error [displayError]="isFieldValid('geoData.latitude')" errorMsg="Latitude is mandatory"></app-show-validation-error>
            </div>
            <div class="col-md-4" [ngClass]="displayFieldCss('geoData.longitude')">
              <label for="Longitude" class="control-label required">Longitude</label>
              <input type="text" id="longitude" class="form-control" formControlName="longitude" (change)="setGeoCordinates()" />
              <app-show-validation-error [displayError]="isFieldValid('geoData.longitude')" errorMsg="Longitude is mandatory"></app-show-validation-error>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4" [ngClass]="displayFieldCss('geoData.length')">
              <label for="length" class="control-label required">Plot Length (ft.)</label>
              <input type="text" id="length" class="form-control" formControlName="length" (change) = "calculateTotalArea()" />
              <app-show-validation-error [displayError]="isFieldValid('geoData.length')" errorMsg="Plot length is mandatory"></app-show-validation-error>
            </div>
            <div class="col-md-4" [ngClass]="displayFieldCss('geoData.width')">
              <label for="width" class="control-label required">Plot Width (ft.)</label>
              <input type="text" id="width" class="form-control" formControlName="width" (change) = "calculateTotalArea()" />
              <app-show-validation-error [displayError]="isFieldValid('geoData.width')" errorMsg="Plot width is mandatory"></app-show-validation-error>
            </div>
            <div class="col-md-4">
              <label for="width" class="control-label">Total Plot Area (sq. ft.)</label>
              <input type="text" id="width" class="form-control" formControlName="totalArea" readonly />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12" [ngClass]="displayFieldCss('geoData.address')">
              <label for="address" class="control-label required">Property Address</label>
              <input type="text" id="address" class="form-control" formControlName="address" />
              <app-show-validation-error [displayError]="isFieldValid('geoData.address')" errorMsg="Plot address is mandatory"></app-show-validation-error>
            </div>
          </div>
          <div class="col-md-12" *ngIf="lat && long">
          <app-gmaps [lat]="lat"  [lng]="long"></app-gmaps>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Land Sketch</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-4" [ngClass]="displayFieldCss('preMutationSketch')">
            <label for="sketch" class="control-label required">Property Sketch</label>
            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept="image/*" id="sketch" formControlName="preMutationSketch">
            <app-show-validation-error [displayError]="isFieldValid('preMutationSketch')" errorMsg="Premutation sketch is mandatory"></app-show-validation-error>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Land Allottee Details</h1>
      </div>
      <div class="panel-body">
        <div formGroupName="ownerDetails">
          <div class="form-group">
            <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.ownerName')">
              <label for="ownerName" class="control-label required">Allottee Name</label>
              <input type="text" class="form-control" id="ownerName" formControlName="ownerName">
              <app-show-validation-error [displayError]="isFieldValid('ownerDetails.ownerName')" errorMsg="Property allotee Name is mandatory"></app-show-validation-error>
            </div>

            <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.aadharNo')">
              <label for="aadharNo" class="control-label required">Aadhar #</label>
              <input type="text" id="aadharNo" class="form-control" formControlName="aadharNo" />
              <app-show-validation-error [displayError]="isFieldValid('ownerDetails.aadharNo')" errorMsg="Aadhar # is mandatory"></app-show-validation-error>
            </div>

            <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.gender')">
             <div> <label class="control-label required">Gender</label></div>
              <label class="md-check radio-inline">
                <input type="radio" value="M" name="gender" formControlName="gender">Male
              </label>
              <label class="md-check radio-inline">
                <input type="radio" value="F" name="gender" formControlName="gender">Female
              </label>
              <app-show-validation-error [displayError]="isFieldValid('ownerDetails.gender')" errorMsg="Gender is mandatory"></app-show-validation-error>
            </div>

              </div>
              <div class="form-group">
                <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.mobileNo')">
                  <label for="mobileNo" class="control-label required">Mobile</label>
                  <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo" />
                  <app-show-validation-error [displayError]="isFieldValid('ownerDetails.mobileNo')" errorMsg="Mobile number is mandatory"></app-show-validation-error>
                </div>
                <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.emailID')">
                  <label for="emailID" class="control-label required">Email ID</label>
                  <input type="text" id="emailID" class="form-control" formControlName="emailID" />
                  <app-show-validation-error [displayError]="isFieldValid('ownerDetails.emailID')" errorMsg="Email ID is mandatory"></app-show-validation-error>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12" [ngClass]="displayFieldCss('ownerDetails.address')">
                  <label for="ownerAddress" class="control-label required">Allottee Address</label>
                  <input type="text" id="ownerAddress" class="form-control" formControlName="address" />
                  <app-show-validation-error [displayError]="isFieldValid('ownerDetails.address')" errorMsg="Allotee address is mandatory"></app-show-validation-error>
                </div>
              </div>

            </div>
          </div>
    </div>
    </fieldset>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">New allotee Details</h1>
      </div>
      <div class="panel-body">
        <div formGroupName="newOwnerDetails">
          <div class="form-group">
            <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.newownerName')">
              <label for="newownerName" class="control-label required">Allottee Name</label>
              <input type="text" class="form-control" id="newownerName" formControlName="newownerName">
              <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.newownerName')" errorMsg="Property allotee Name is mandatory"></app-show-validation-error>
            </div>

            <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.newaadharNo')">
              <label for="newaadharNo" class="control-label required">Aadhar #</label>
              <input type="text" id="newaadharNo" class="form-control" formControlName="newaadharNo" />
              <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.newaadharNo')" errorMsg="Aadhar # is mandatory"></app-show-validation-error>
            </div>

            <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.newgender')">
             <div> <label class="control-label required">Gender</label></div>
              <label class="md-check radio-inline">
                <input type="radio" value="M" name="newgender" formControlName="newgender">Male
              </label>
              <label class="md-check radio-inline">
                <input type="radio" value="F" name="newgender" formControlName="newgender">Female
              </label>
              <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.gender')" errorMsg="Gender is mandatory"></app-show-validation-error>
            </div>

              </div>
              <div class="form-group">
                <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.newmobileNo')">
                  <label for="newmobileNo" class="control-label required">Mobile</label>
                  <input type="text" id="newmobileNo" class="form-control" formControlName="newmobileNo" />
                  <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.newmobileNo')" errorMsg="Mobile number is mandatory"></app-show-validation-error>
                </div>
                <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.newemailID')">
                  <label for="newemailID" class="control-label required">Email ID</label>
                  <input type="text" id="newemailID" class="form-control" formControlName="newemailID" />
                  <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.newemailID')" errorMsg="Email ID is mandatory"></app-show-validation-error>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12" [ngClass]="displayFieldCss('newOwnerDetails.newaddress')">
                  <label for="newownerAddress" class="control-label required">Allottee Address</label>
                  <input type="text" id="newownerAddress" class="form-control" formControlName="newaddress" />
                  <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.newaddress')" errorMsg="Allotee address is mandatory"></app-show-validation-error>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Sale Details</h1>
      </div>
      <div class="panel-body">
      <div class="form-group">
        <div class="col-md-4" [ngClass]="displayFieldCss('saleRate')">
          <label for="saleRate" class="control-label required">Sale Rate</label>
          <input type="text" id="saleRate" class="form-control" formControlName="saleRate" />
          <app-show-validation-error [displayError]="isFieldValid('saleRate')" errorMsg="Sale Rate is mandatory"></app-show-validation-error>
        </div>
      </div>
      </div>
    </div>

    <div align="right">
      <button class="btn btn-danger">Back</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</ng-template>
<ng-template #applicationSuccess>
  <div class="alert alert-success"> <strong>Success!</strong>Registration application has been submitted successfully ! The transaction ID for this record is <strong>{{landRecord.txnid}}</strong></div>
  <div class="alert alert-info">
    Please click on <strong>Submit New</strong> to submit another registration application !
  </div>
  <div align="center"><button type="submit" class="btn btn-primary" (click)="submitNew()">Submit New</button></div>
</ng-template>