/* css */
h3{
   margin-top: -82px;
   line-height: inherit;
}
h4{
    color:black;
}
table{
    background-color: white;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}
thead{
    background-color: #d9edf7;
    color: #31708f;
}
.form-control[disabled], .form-control[readonly]{
    background-color: #f0f3f5;
}
.panel-title{
    font-weight: bold;
}
