/* css */ 
h3{
   margin-top: -82px;
   line-height: inherit;
}
table{
    background-color: white;
    border: 1px solid #337ab7;
    border-radius: 4px;
}
thead{
    background-color: #337ab7;
    color: white;
}
.panel-title{
    font-weight: bold;
}
